.post {
  margin-bottom: 3rem;
  padding: 1rem;
  cursor: default;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateX(0.2rem) translateY(-0.2rem);
    box-shadow: -0.2rem 0.3rem var(--primary);
  }
}

.title {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 0.62rem;
  color: var(--title);
}

.subtitle {
  font-size: 1.12rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  color: var(--sub-title);
}

.info {
  font-size: 0.87rem;
  color: var(--info);
  display: flex;

  div {
    display: flex;
    align-items: center;
    margin-right: 0.9rem;

    svg {
      margin-right: 0.3rem;
    }
  }
}

.more {
  font-size: 1.12rem;
  line-height: 22px;
  text-align: justify;
  border: none;
  background-color: var(--background-color);
  color: var(--primary);
  cursor: pointer;
}
