.container {
  background-color: var(--background-color);
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.post {
  margin-bottom: 3rem;
}

.title {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 0.62rem;
  color: var(--title);
}

.subtitle {
  font-size: 1.12rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  color: var(--sub-title);
}

.info {
  font-size: 0.87rem;
  color: var(--info);
  display: flex;

  div {
    display: flex;
    align-items: center;
    margin-right: 0.9rem;

    svg {
      margin-right: 0.3rem;
    }
  }
}

.more {
  font-size: 1.12rem;
  line-height: 22px;
  text-align: justify;
  border: none;
  background-color: var(--background-color);
  color: var(--primary);
}
