.wrapper {
  width: 60%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.post {
  margin-bottom: 3rem;
  padding: 1rem;
  cursor: default;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateX(0.2rem) translateY(-0.2rem);
    box-shadow: -0.2rem 0.3rem var(--primary);
  }
}

.title {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 0.62rem;
  color: var(--title);
}

.subtitle {
  font-size: 1.12rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  color: var(--sub-title);
}

.info {
  font-size: 0.87rem;
  color: var(--info);
  display: flex;

  div {
    display: flex;
    align-items: center;
    margin-right: 0.9rem;

    svg {
      margin-right: 0.3rem;
    }
  }
}

.tags {
  margin-top: 1.5rem;
  color: var(--primary);
  font-size: 0.7rem;

  ul {
    display: flex;
    list-style: none;

    li {
      clip-path: polygon(100% 0%, 100% 100%, 10px 99%, 0% 50%, 10px 0);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: var(--background-color-light);
      padding: 0.45rem 1rem;
      padding-left: 1.2rem;
      margin-right: 1rem;
    }
  }
}

.more {
  font-size: 1.12rem;
  line-height: 22px;
  text-align: justify;
  border: none;
  background-color: var(--background-color);
  color: var(--primary);
  cursor: pointer;
}
