.header {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.wrapper {
  width: 60%;
  margin-left: 2rem;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  h1 {
    margin-top: 0.5rem;
    color: var(--title);
    font-size: 1.1rem;
    font-weight: normal;
  }
}
